<template>
	<div class="container">
		<div class="row pt-5">
			<div class="col-sm-12">
				<div class="form-group">
					<label>Idea ID</label>
					<input v-model="query" type="text" class="form-control" placeholder="Enter Idea ID">
				</div>
			</div>
			<div class="col-sm-12" >
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
					<div class="col-sm-10" v-if="filtered">
						<input type="text" readonly class="form-control-plaintext" v-model="filtered.name">
					</div>
				</div>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">Idea Summary</label>
					<div class="col-sm-10" v-if="filtered">
						<input type="text" readonly class="form-control-plaintext" v-model="filtered.idea">
					</div>
				</div>
				<button type="button" class="btn btn-primary" @click="takePhoto">Take photo</button>
			</div>
			
		</div>
		<div id="camera-section pt-5" v-if="showCamera">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<code v-if="device">{{ device.label }}</code>
					<div class="border">
						<vue-web-cam
								ref="webcam"
								:device-id="deviceId"
								width="100%"
								height="350px"
								@started="onStarted"
								@stopped="onStopped"
								@error="onError"
								@cameras="onCameras"
								@camera-change="onCameraChange"
						/>
					</div>

					<div class="row">
						<div class="col-md-12">
							<select v-model="camera">
								<option>-- Select Device --</option>
								<option
										v-for="device in devices"
										:key="device.deviceId"
										:value="device.deviceId"
								>{{ device.label }}</option>
							</select>
						</div>
						<div class="col-md-12">
							<button type="button" class="btn btn-primary" @click="onCapture">Capture Photo</button>
							<button type="button" class="btn btn-danger" @click="onStop">Stop Camera</button>
							<button type="button" class="btn btn-success" @click="onStart">Start Camera</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row justify-content-center mt-5" v-if="showImage">
			<div class="col-md-6">
				<figure class="figure">
					<img :src="img" class="img-fluid" />
				</figure>
				<button type="button" class="btn btn-primary" @click="markAttendence">Mark Attendence</button>
			</div>
		</div>
	</div>
</template>

<script>
import csvtojson from './csvtojson.js';

export default {
	name: "App",
	data() {
		return {
			img: null,
			camera: null,
			deviceId: null,
			devices: [],
			showCamera: false,
			showImage: false,
			key: '2PACX-1vSpmeZrw61CRDVdHkKiVHMay6Qqn11UPGW67JSEBgEbOTtLtuL_YxVm0KTpYkA4GPCJcI5dPYkm2vMg',
			url: 'https://script.google.com/macros/s/AKfycbwYrwLjJrbvepkCOBxII4uCKhp10fXElof-c6lQKSqlnyuazTAV/exec',
			data: [],
			query: ''
		};
	},
	computed: {
		device: function() {
			return this.devices.find(n => n.deviceId === this.deviceId);
		},
		filtered: function(){
			var vm = this;
			return this.data.filter(function(item){
				return item.id == vm.query;
			})[0];
		}
	},
	watch: {
		camera: function(id) {
			this.deviceId = id;
		},
		devices: function() {
				//Once we have a list select the first one
				const [first, ...tail] = this.devices;
				if (first) {
				    this.camera = first.deviceId;
				    this.deviceId = first.deviceId;
				}
		}
	},
	methods: {
		selectFirstCamera(){
			const [first, ...tail] = this.devices;
			if (first) {
				this.camera = first.deviceId;
				this.deviceId = first.deviceId;
			}
		},
		onCapture() {
			this.img = this.$refs.webcam.capture();
			this.showCamera = false;
			this.onStop();
			this.showImage = true;
			console.log(this.img);
		},
		onStarted(stream) {
			console.log("On Started Event", stream);
		},
		onStopped(stream) {
			console.log("On Stopped Event", stream);
		},
		onStop() {
			this.$refs.webcam.stop();
		},
		onStart() {
			this.$refs.webcam.start();
		},
		onError(error) {
			console.log("On Error Event", error);
		},
		onCameras(cameras) {
			this.devices = cameras;
			console.log("On Cameras Event", cameras);
		},
		onCameraChange(deviceId) {
			this.deviceId = deviceId;
			this.camera = deviceId;
			console.log("On Camera Change Event", deviceId);
		},
		loadData: function(item, key, gid){
			var vm = this;
			fetch(`https://docs.google.com/spreadsheets/d/e/${key}/pub?gid=${gid}&single=true&output=csv`)
			.then(response => response.text())
			.then(csv => csvtojson(csv))
			.then(function(json){
					vm[item]= JSON.parse(json);
			});
		},
		takePhoto: function(){
			if(this.filtered){
				this.showCamera = true;
				this.selectFirstCamera();
			}
			else{
				alert("enter valid idea id");
			}
		},
		getFormData: function(){
			var formData = {};
			formData.id = this.filtered.id;
			formData.name = this.filtered.name;
			formData.img = this.img;
			//formData.formDataNameOrder = JSON.stringify(['id', 'name', 'image' ]);
			return formData;
		},
		sendXhr: function(url, data){
			var xhr = new XMLHttpRequest();
			xhr.open('POST', url);
			// xhr.withCredentials = true;
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					//done success
				}
			};
			// url encode form data for sending as post data
			var encoded = Object.keys(data).map(function(k) {
				return encodeURIComponent(k) + "=" + encodeURIComponent(data[k]);
			}).join('&');
			console.log(encoded);
			// xhr.send(encoded);
		},
		markAttendence: function(){
			var data = this.getFormData();
			
			//this.sendXhr('', data)
		
			fetch(this.url, {
				method: 'post',
				body: JSON.stringify(data),
				cors: 'no-cors'
			}).then(function(response) {
				console.log(response);
				return response.json();
			}).then(function(data) {
				console.log(data);
				alert(data.result);
			});

			this.showImage = false;
			this.query = '';
		}
	},
	created(){
		this.loadData('data', this.key, '0');
	}
};
</script>